*.weights
./Classification/yolo.v3.pytorch/data/coco
.idea
rf-back/static/prducts*.xml
*.png
*.jpg
*.JPG
*.jpeg
*.pyc
*/__pycache__
!/capture/capture2-mainwithimage.png
!/capture/capture5-result_over_budget.png
!/capture/capture4-result1.png
!/capture/capture3-loading.png
!/capture/capture6-mobile_view.png
!/capture/capture1-main.png
